footer{
    width: 100%;
    height: 274px;
}
.footer-line{
    width: 1440px;
    height: 1px;
    background: #EFF0F2;
}
.nav{
    display: flex;
    gap: 119px;
    padding: 32px 150px;
}
.nav h2{
    color: var(--Black, #121720);
    font-size: 18px;
    font-weight: 500;
}
.nav ul{
    color: var(--Black, #121720);
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav li{
    color: var(--Gray, #9095A9);
    font-size: 16px;
    opacity: 0.7;
}
.nav li span{
    color: var(--Buttons, #7984C0);
    font-size: 16px;
}

.footer-end{
    display: flex;
    padding: 32px 150px;
    gap: 396px;
}
.footer-p1{
    white-space: nowrap;
    color: var(--Buttons, #7984C0);
    font-size: 16px;
}
.footer-p1 span{
    color: var(--Gray, #9095A9);
    font-size: 16px;
}
.footer-p2{
    white-space: nowrap;
    color: var(--Gray, #9095A9);
    font-size: 16px;
}

.category{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.icons{
    display: flex;
    gap: 12px;
}
.phone-number{
    color: var(--Black, #121720);
    font-size: 18px;
}
.email{
    color: var(--Buttons, #7984C0);
    font-size: 18px;
    margin-bottom: 8px;
}