.leftCon{
    width: 1039px;
    height: 2450px;
    position: relative;
}
.sort {
    display: flex;
    gap: 356px;
}

/*  */
.sorted-p{
    display: flex;
    gap: 12px;
    align-items: center;
}
.sortP-icon{
    display: flex;
    gap: 3px;
    align-items: center;
}
.sort p{
    color: var(--Black, #121720);
    font-size: 16px;
}
.sorted-p p{
    color: var(--Gray, #9095A9);
}
.sortP-icon p{
    color: var(--Black, #121720);
    font-size: 16px;
}
.sortP-icon{
    display: flex;
    padding: 14px 16px;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--Gray-Light, #EFF0F2);
    background: var(--White, #FFF);
}



.btn-more{
    height: 216px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
    position: absolute;
    bottom: -60px;
    right: 342px;
}
.btn-more-in{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Buttons, #7984C0);
    color: var(--White, #FFF);
    font-size: 14px;
    width: 150px;
    height: 42px;
    border: navajowhite;
}
.numbers{
    display: flex;
    gap: 12px;
    font-size: 16px;
}
.numbers span{
    color: var(--Buttons, #7984C0) !important;
    font-size: 16px;
}

/*  */
.cards{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 23px;
   margin-top: 32px;
}
.info {
    height: 126px;
    align-self: stretch;
    margin-top: 16px;
}
.info-text {
    display: flex;
    align-items: center;
    display: flex;
    margin-top: 16px;
    gap: 8px;
}
.info-text p{
    font-size: 16px;
    margin-left: 80px;
}

.info-text h3{
    color: var(--Black, #121720);
    font-size: 16px;
    font-weight: 500;
}


.card-line{
    width: 267px;
    height: 1px;
    background: #EFF0F2;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card-p{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-p p{
    color: var(--Gray, #9095A9);
    font-size: 16px;
}
.card-icons{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.picture2 {
    display: flex;
    width: 267px;
    height: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 34px;
}
.picture {
    display: flex;
    width: 267px;
    height: 380px;
    flex-direction: column;
    margin-top: 32px;
}

