.priceLines{
    display: flex;
    align-items: center;
}
.right-Con{
    width: 350px;
    margin-top: 29px;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100px;
    margin-bottom: 32px;
}
.price h2{
    font-size: 20px;
    font-weight: 500;
}
.price p{
    font-size: 16px;
    font-weight: 400;
}
.hr1{
    width: 69px;
    height: 1px;
    background: #121720 !important;
}
.hr2{
    width: 121px;
    height: 1px;
    background: #EFF0F2;
}
.hr3{
    width: 68px;
    height: 1px;
    background: #000000 ;
}
.rightCon-line{
    width: 277px;
    height: 1px;
    background: #EFF0F2;
    margin-bottom: 32px;
}

/* - */
.category{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--Black, #121720);
}
.h3-icon{
    display: flex;
    gap: 151px;
}
.category h3{
    font-size: 20px;
    font-weight: 500;
}
.categoty-li ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.categoty-li li{
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}
.category p{
    color: var(--Buttons, #7984C0);
    font-size: 16px;
    margin-bottom: 32px;
}

/*  */
.brand{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 175px;
}
.brand p{
    font-size: 20px;
}
.brand img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
/*  */
.selected-btn{
    display: inline-flex;
    padding: 8px 16px 8px 8px;
    gap: 99px;
    border-radius: 12px;
    border: 1px solid var(--Gray-Light, #EFF0F2);
    background: var(--White, #FFF);
    margin-top: 16px;
}

.burberry-in{
    display: flex;
    height: 32px;
    padding: 9px 12px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: #7984C0;
}
.burberry p{
    color: var(--White, #FFF);
    font-size: 14px;
}
.burberry{
    display: flex;
    gap: 99px;
}

.brands-textP{
    width: 267px;
    height: 47px;
    background: var(--gray-light-2, #F7F8F9);
    margin-top: 16px;
    padding:15px 16px ;
}
.brands-textP p{
    color: var(--Gray, #9095A9);
    font-size: 14px;
    font-weight: 400;
}
.brands ul{
    list-style: none;
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.brands li{
    color: var(--Gray, #9095A9);
    font-size: 16px;
}
.brands li span{
    color: var(--Black, #121720);
    font-size: 16px;
    font-weight: 400;
}
.brands-li{
    display: flex;
    gap: 120px;
}
.brands-li hr{
    width: 4px;
    height: 64px;
    border-radius: 2px;
    opacity: 0.5;
    background: var(--Gray, #9095A9);
    margin-top: 16px;
}
.rightCon-line1{
    margin-bottom: 32px;
    margin-top: 32px;
    width: 267px;
    height: 1px;
    background: #EFF0F2;
}

/*  */
.codition-h3{
    display: flex;
    gap: 148px !important;
    margin-top:25px;
}
.codition-h3 h3{
    font-size: 20px;
    font-weight: 500;
}
.condition div{
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
}

/*  */
.size-icon{
    display: flex;
    gap: 101px;
    align-items: flex-start;
}
.size-icon h3{
    color: var(--Black, #121720);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.sizes div{
    display: inline-flex;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 6px;
    background: var(--gray-light-2, #F7F8F9);
    color: var(--Gray, #9095A9);
    font-size: 16px;
    margin-right: 8px;
}
.sizes-Ml{
    display: inline-flex;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 6px;
    background: var(--Buttons, #7984C0) !important;
    color: var(--White, #FFF) !important;
    font-size: 16px;
    font-weight: 400;
}
.sizes2{
    margin-top: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 270px;
}
.sizes2 div{
    display: inline-flex;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 6px;
    background: var(--gray-light-2, #F7F8F9);
    color: var(--Gray, #9095A9);
    font-size: 16px;
    font-weight: 400;
}

/*  */
.shoesSize-h3 {
    display: flex;
    gap: 119px;
    margin-bottom: 32px;
}
.shoesSize-h3 h3{
    color: var(--Black, #121720);
    font-size: 20px;
    font-weight: 500;
}
.frame-text div{
    display: inline-flex;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 6px;
    background: var(--gray-light-2, #F7F8F9);
    color: var(--Gray, #9095A9);
    font-size: 16px;
}
.frame-text{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 270px;
}

/*  */
.colors-h3 {
    display: flex;
    gap: 192px;
    margin-bottom: 32px;
}
.colors-h3 h3{
    color: var(--Black, #121720);
    font-size: 20px;
    font-weight: 500;
}
.colors-icons{
    display: flex;
    gap: 8px;
}
.btn-sort{
    display: flex;
    width: 267px;
    padding: 14px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--Gray-Light, #EFF0F2);
    background: var(--White, #FFF);
    font-size: 16px;
}

